version: '3'

services:
  vpay:
    image: openjdk:17-jdk-slim
    volumes:
      - ./app:/app
      - ./data:/data
    working_dir: /
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      # - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    command: java -jar /app/vpay.jar
    ports:
      - "8080:8080"
      # - "5005:5005"
